/* 1. Load the theme (colors, spacing, etc.) */
@import "tailwindcss/theme";

/* 2. Load the utilities (the actual classes like 'bg-red-500') */
@import "tailwindcss/utilities";

/* 3. YOUR VANILLA CSS GOES HERE */
/* This ensures your existing styles stay untouched by Tailwind */
/* default: Light Mode */
:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --accent-color: #3498db;
  /* Font Size Scale */
  --fs-v: 1rem;
  --fs-vv: 0.9rem;
  --fs-vvv: 0.8rem;
  --fs-vvvv: 0.7rem;
  --fs-a: 0.6rem;
  --fs-aa: 0.5rem;
  --fs-aaa: 0.4rem;
  --fs-aaaa: 0.3rem;
  --fs-sm: 0.875rem;  /* 14px */
  --fs-xs: 0.75rem;   /* 12px */
  --fs-md: 1.125rem;  /* 18px */
  --fs-lg: 1.25rem;   /* 20px */
  --fs-xl: 1.5rem;    /* 24px */
  --fs-2xl: 1.875rem; /* 30px */
  --fs-3xl: 2.25rem;  /* 36px */
  
  /* You can also define Font Weights for consistency */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fs-base: 1rem;    /* 16px - Standard Body */
}

/* Dark Mode Overrides */
.dark-theme {
  --bg-color: #16151C;
  --text-color: #f5f5f5;
  --accent-color: #f1c40f;
  --border-color: #323138;
  --border-top: #323138;
  --icon-color: #ffffff;
  --icon-bg: #16151C;
  --percent-color: #30BE82;
  --percent-bg: #192626;
  --sidebar-bg: #1D1C24;
  --sidebar-hover: #ffffff;
  --employee-status: #6752E8;
  --employee-bg: #251E3E;
  --pending-bg: #312927;
  --pending-color: #EFBE12;
  --puntual-bg: #321F30;
  --puntual-color: #F45558;
  /* icon design */
  --briefcase-bg: #24232B;
  --rejected-bg: #321F30;
  --rejected-color: #F44542;

}
.light-theme {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --border-color: #ECECEE;
    --border-top: #ECECEE;
    --icon-color: #D4D8DE;
    --icon-bg: #F6F5F6;
    --percent-color: #30BE82;
    --percent-bg: #EAF8F2;
    --sidebar-bg: #FAFAFB;
    --sidebar-hover: #F5F3FF;
    --employee-status: #945BF3;
    --employee-bg: #E9E3FD;
    --pending-bg: #F5EEE6;
    --pending-color: #F1C312;
    --puntual-bg: #F6E4EF;
    --puntual-color: #F45B69;
    --briefcase-bg: #f3f3f9;
    --rejected-bg: #F6E4EF;
    --rejected-color: #F45B69;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}